version: "3.9"

services:
  # -------- Redis ----------
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  # -------- RabbitMQ ----------
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  # -------- Auth Service ----------
  auth-service:
    build: ./auth_service
    volumes:
      - ./auth_service:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    depends_on:
      - redis

  # -------- Auth Worker ----------
  auth-worker:
    build: ./auth_service
    volumes:
      - ./auth_service:/app
    env_file:
      - .env
    command: celery -A auth_service worker -l info
    depends_on:
      - redis

  # -------- User Service (WEB) ----------
  user-service:
    build: ./user_service
    volumes:
      - ./user_service:/app
    ports:
      - "8001:8000"
    env_file:
      - .env
    environment:
      SERVICE_ROLE: web
    depends_on:
      - rabbitmq

  # -------- User Diet Consumer ----------
  user-consumer:
    build: ./user_service
    volumes:
      - ./user_service:/app
    env_file:
      - .env
    environment:
      SERVICE_ROLE: user_consumer
    depends_on:
      - rabbitmq
      - user-service

  # -------- Trainer Service (WEB) ----------
  trainer-service:
    build: ./trainer_service
    volumes:
      - ./trainer_service:/app
    ports:
      - "8002:8000"
    env_file:
      - .env
    environment:
      SERVICE_ROLE: web
    depends_on:
      - rabbitmq

  # -------- Trainer Consumer ----------
  trainer-consumer:
    build: ./trainer_service
    volumes:
      - ./trainer_service:/app
    env_file:
      - .env
    environment:
      SERVICE_ROLE: trainer_consumer
    depends_on:
      - rabbitmq
      - trainer-service

  # -------- AI Service ----------
  ai-service:
    build: ./ai_service
    volumes:
      - ./ai_service:/app
    ports:
      - "8004:8000"
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - user-service
      - auth-service

  # -------- Admin Service ----------
  admin-service:
    build: ./admin_service
    volumes:
      - ./admin_service:/app
    ports:
      - "8003:8000"
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    depends_on:
      - auth-service
      - user-service
      - trainer-service

volumes:
  redis_data:
  rabbitmq_data:
